$neutral-color: #BFBFBF;
$correct-color: #7FFF7F;
$incorrect-color: #FF7F7F;
$selected-color: #FFFF3F;
$opt-color: #7FBFFF;
$fgr-color1: #BF7FBF;
$fgr-color2: #FF7F3F;
$text-color: #000000;
$margin-value: 10px;
$margin-group: 20px;
$element-border: 5px;
$img-height: 128px;

@mixin border-bg-color($color){
    background-color: $color;
    border-color: $color;
}
.opt-group{
    border: 1px solid;
    text-align: center;
    margin-left: $margin-group;
    margin-right: $margin-group;
    border-radius: $margin-value;
    color: $text-color;
    h2{
        margin-top: $margin-value;
        margin-bottom: $margin-value;
        font-weight: bold;
        @include border-bg-color($selected-color);
    }
    h3{
        margin-top: $margin-value;
        margin-bottom: $margin-value;
        @include border-bg-color($opt-color);
    }
}

.option-border{
    border: $element-border solid;
    border-radius: 2*$element-border;
    font-weight: bold;
    color: $text-color;
    @include border-bg-color($neutral-color);
    img{
        margin-left: $margin-value;
    }
}

.correct{
    @extend .option-border;
    @include border-bg-color($correct-color);
}

.incorrect{
    @extend .option-border;
    @include border-bg-color($incorrect-color);
}

.selected{
    @extend .option-border;
    @include border-bg-color($selected-color);
}

.figure-name{
    border-radius: 2*$element-border;
    height: $img-height;
    line-height: $img-height;
    font-weight: bold;
    font-size: 24px;
    @include border-bg-color($neutral-color);
}

.yellow-name{
    @extend .figure-name;
    @include border-bg-color($selected-color);
}

.blue-name{
    @extend .figure-name;
    @include border-bg-color($opt-color);
}
.purple-name{
    @extend .figure-name;
    @include border-bg-color($fgr-color1);
}
.orange-name{
    @extend .figure-name;
    @include border-bg-color($fgr-color2);
}

.figure-icon{
    border: $margin-value solid;
    border-radius: 2*$element-border;
    @include border-bg-color($neutral-color);
}

.yellow-icon{
    @extend .figure-icon;
    @include border-bg-color($selected-color);
}

.blue-icon{
    @extend .figure-icon;
    @include border-bg-color($opt-color);
}
.purple-icon{
    @extend .figure-icon;
    @include border-bg-color($fgr-color1);
}
.orange-icon{
    @extend .figure-icon;
    @include border-bg-color($fgr-color2);
}

.row{
    margin-bottom: $margin-value;
    text-align: center;
    margin-left: 0;
    margin-right: auto;
}

.pont{
    border: 1px solid;
    font-weight: bold;
    padding: 3px;
}